#area {
  width: 40%;
  margin: 100px auto;
  font-family: Cambria;
}

#prev {
  position: fixed;
  left: 0;
  top: 50%;
  height: 50px;
  width: 25px;
  background: #777;
  display: none;
}

#next {
  position: fixed;
  right: 0;
  top: 50%;
  height: 50px;
  width: 25px;
  background: #777;
  display: none;
  opacity: .6;
}

#prev:active, 
#next:active {
  background: #888;
  opacity: .8;
}

h3 {
  margin-top: 0;
}

#modal{
  width: 300px;
  height: 50px;
  padding: 50px;
  background: #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px;
  text-align: center;

    -moz-box-shadow:    1px 1px 1px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,.4);
    box-shadow:         1px 1px 1px 2px rgba(0,0,0,.4);
  
}

#header {
  background: #EAE2CF;
}

#main {
  background: #C1BCB6;
  -moz-box-shadow:    inset 0 0 100px rgba(0,0,0,.6);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.6);
  box-shadow:         inset 0 0 100px rgba(0,0,0,.6);
}