
@font-face {
font-family: 'Stix';
font-weight: normal;
font-style: normal;
src:url(../fonts/STIXGeneral.otf);
}

@font-face {
font-family: 'Stix';
font-weight: bold;
font-style: normal;
src:url(../fonts/STIXGeneralBol.otf);
}

@font-face {
font-family:'Stix';
font-weight: normal;
font-style: italic;
src:url(../fonts/STIXGeneralItalic.otf);
}

@font-face {
font-family:'Stix';
font-weight: bold;
font-style: italic;
src:url(../fonts/STIXGeneralBolIta.otf);
}


body {
font-size: 1em;
line-height: 1.33em;
font-family: 'Stix', serif;
font-variant-numeric: oldstyle-nums;
}

p {
padding: 0;
margin: 0;
text-align: justify;
}

header + p:first-line {
text-transform: lowercase !important;
font-variant: small-caps;
font-size: 1.1em;
}

p + p {
text-indent: 1.33em;
}

.decoration-rw {
text-align: center;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 0em;
padding-right: 0em;
}

.copyright-rw {
font-size: .8em;
line-height: 1em;
text-align: left;
padding-top: 2em;
}

.copyright-rw p {
margin-bottom: 1em;
text-indent: 0;
}

.dedication-rw p {
text-align: center;
text-indent: 0;
}

.Dedication-rw {
margin-top: 3em;
}

.leading-line-rw {
height: 1.33em;
}

.fp-rw {
text-indent: 0;
}



h1 {
font-size: 1.5em;
line-height: 1.33em;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 4px;
}

h2 {
text-align: center;
font-size: 1.33em;
line-height: 1.2em;
text-align: center;
padding-bottom: 0em;
text-align: center;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 3px;
}

.title-author-rw {
text-align: center;
font-size: 1.5em;
text-indent: 0;
}

.title-num-rw {
text-align: center;
font-size: 1.5em;
text-indent: 0;
margin-top: 1em;
margin-bottom: 1em;
}

.title-sub-rw {
text-align: center;
font-size: 1.5em;
text-indent: 0;
}

.imprint-rw {
text-align: center;
}

.extract-verse-rw {
margin-top: 1.33em;
margin-bottom: 1.33em;
padding-left: 20pt;
}

.extract-rw {
margin-top: 1.33em;
margin-bottom: 1.33em;
padding-left: 20pt;
}

.extract-verse-rw p {
text-align: left;
text-indent: -20pt;
margin-left: 20pt;
}

.epigraph-rw {
margin-top: 1.33em;
margin-bottom: 1.33em;
padding-left: 20pt;
padding-right: 20pt;
}

.sc-rw {
font-size: 75%;
}
.block-rw {
margin-top: 1em;
margin-bottom: 1em;
margin-left: 20pt;
margin-right: 20pt;
}

span.dropcap-rw {
float: left;
font-size: 2.7em;
line-height: .87em;
}


.signature-rw {
margin-left: 50%;
text-align: left;
text-indent: 0;
}

.AdCard-rw h4 {
text-align: center;
}

.AdCard-rw p {
text-align: center;
text-indent: 0;
}

.FrontSales-rw h4, .FrontSales-rw h2 {
text-align: center;
}

.FrontSales-rw p {
text-indent: 0;
}



/* NAVIGATION */

a {
color: black !important;
}

#toc ol {
list-style-type: none;
margin: 0 0 0 2em;
padding: 0 0 0 0;
}

#toc ol ol {
list-style-type: none;
margin: 0 0 0 1em;
padding: 0 0 0 0;
}





#toc ol li {
margin: 0 0 0 0;
padding: 0 0 0 0;
}

#toc ol li a {
text-decoration: none;
font-family: sans-serif;
}

.toc-short ol li a {
text-decoration: none;
font-family: sans-serif;
}


.toc-short ol {
list-style-type: none;
margin: 0 0 0 2em;
padding: 0 0 0 0;
}


#guide {
display: none;
}


header {
padding: 3em 0 2em 0;
}

header a {
text-decoration: none;
color: black;
}





.center {
text-align: center;
text-indent: 0;
}

img {
max-width: 100%;
max-height: 100%;
}



.title-other-rw {
text-align: center;
text-indent: 0;
margin-top: .5em;
}

.dateline-rw {
text-align: left;
text-indent: 0;
margin-top: 1.33em;
margin-bottom: 1.33em;
}


.frontmatter-rw h1 {
font-size: 1.5em;
}

.backmatter-rw h1 {
font-size: 1.5em;
}
   


   .direction-rw {
   text-align: center;
   text-indent: 0;
   font-style: italic;
   margin: 1em 0 1em 0;
   }

    .source-rw {
margin-bottom: 0em;
text-align: right !important;
font-variant: small-caps;
text-transform: lowercase;
font-size: 1.1em;
page-break-before: avoid;
}

div.block-rw {
border-top: 2px solid #EEE;
border-bottom: 2px solid #EEE;
padding: 6pt 0 6pt 0;
}

.list-simple-rw p {
text-indent: 0;
text-align: left;
}

.headline-rw p {
text-indent: 0;
text-align: center;
padding-top: 6px;
}

div.photo {
margin-top: 1em;
padding-top: 2em;
text-align: center;

}

div.photo p {
text-align: center;
padding: 6px;
font-style: italic;



}





.-epub-media-overlay-active {
    background-color: #abc;
}


@media all and (orientation:portrait) {
p { font-family: serif; }
}


@media all and (orientation:landscape) {
p { font-family: sans-serif; }

}


