/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/
@host {
  * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat;
  }

  .polymer-ui-dark-icon, .polymer-ui-light-theme {
    background-position: -24px 0;
  }

  .polymer-ui-light-icon, .polymer-ui-dark-theme {
    background-position: -72px 0;
  }

  .polymer-ui-icons {
    background-image: url(../assets/action-icons.png);
  }
}